name: Update Data and Deploy

on:
  schedule:
    - cron: '0 0 * * *'  # 毎日午前0時に実行
  workflow_dispatch:  # 手動実行用
  repository_dispatch:  # Google Apps Scriptからのトリガー用
    types: [update-data]

jobs:
  update-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests
    
    - name: Update data
      run: python readsheet.py
    
    - name: Commit and push if changed
      run: |
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        git add public/poster_data.json
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update data" && git push)

    - name: Deploy to GitHub Pages
      run: |
        git checkout --orphan gh-pages
        git rm -rf .
        if [ -d "public" ] && [ "$(ls -A public)" ]; then
          mv public/* .
          rm -rf public
        else
          echo "public directory is empty or doesn't exist. Copying all files."
          git checkout main -- .
          git reset HEAD
        fi
        git add .
        git commit -m "Deploy to GitHub Pages"
        git push -f origin gh-pages